@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

.card-container{
    height: 60dvh;
    width: 35dvh;
}

.card-container .reverse {
    display: inline-block;
    transform: rotate(180deg);
    transform-origin: center;
}